version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      actions:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      prod-minor-patch:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      dev-minor-patch:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
