name: Publish

on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Enable corepack
        shell: bash
        run: corepack enable pnpm

      - name: Install dependencies
        uses: ./.github/actions/pnpm-nm-install

      - name: Setup npm registry
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          registry-url: https://registry.npmjs.org/

      - name: Lint
        run: pnpm lint

      - name: Run tests
        run: pnpm test:ci

      - name: Build package
        run: pnpm build

      - name: Generate build provenance attestation
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
        with:
          subject-path: dist/**

      - name: Publish to npm with provenance
        run: pnpm publish --access public --no-git-checks --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish to JSR
        run: pnpm dlx jsr publish
